body{
  font-family: 'Montserrat', sans-serif;
  text-align:center;
  margin:0.5%;
}

#IntroSection{
  background-image: url("Intro Background Paper9.png");
  background-size: 100% 100.2%;
  padding-bottom: 5%;
}
#IntroImage{
  width: 50%

}

/* ----------Navigation Bar Classes---------- */

.container-fluid{
  padding:1% 4% 3% 12%;

}
.navbar{
  padding:0 0 2rem 0;
}
.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size:2.2rem;
  font-weight:bold;
}
.navbar-brand:hover{
  color:black;
}

.nav-item{
    padding: 0 1%;

}
.nav-link{
      color:#ffffff;
      font-size: 1.3rem;
}
.nav-link:hover{
  color:#000000;
}

.accordion-button{
  background-color: #276678;
}
.AccordionHeaderFormat{
  font-family: 'Ubuntu', sans-serif;
  font-size:1.3rem;
  font-weight:bold;
  color: White;
  margin: auto;
}
.accordion-button:after{
  margin-left: 0;
}

.accordion-button:not(.collapsed) {
  color: #FFF;
  background-color: #1687A7;
}

@Media (max-width:992px){

  .navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size:2.2rem;
    font-weight:bold;
    margin: auto;
  }
  #IntroImage{
    width: 95%

  }
  .nav-link{
        color:#ffffff;
        font-size: 1rem;
  }
  .container-fluid{
    padding:1% 4% 1% 12%;

  }
  .navbar{
    padding:0 0 1.5rem 0;
  }

  #IntroSection{
    background-image: url("Intro Background Paper9.png");
    background-size: 100% 100.2%;
    padding-bottom: 5%;
  }

}
